@{
    ViewBag.Title = "Loja";
}
<div ng-controller="lojaCtrl" class="panel panel-default">
    <div class="panel-heading">
        <nav class="navbar navbar-default navbar-inverse" role="navigation">
            <div class="container-fluid">

                <form class="col-md-1 navbar-form navbar-left">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <span class="input-group-btn input-lg " >
                                <button class="btn btn-info btn-lg " type="button" style="border-left-width: 0px;">
                                    <i class="glyphicon glyphicon-gift"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </form>



                <form class="col-md-8 navbar-form navbar-left" style="width:600px;" role="search">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" class="form-control input-lg" placeholder="Pesquisar" />
                            <span class="input-group-btn">
                                <button class="btn btn-info btn-lg" type="button">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right" ng-include="'/FrontEnd/Login'"></ul>
            </div>
        </nav>


    </div>
    <div class="panel-body">
        {{controllerName}}
        Panel Content
        <span ng-include="'/FrontEnd/CadastroUsuario'"></span>
    </div>
</div>