<div ng-controller="lojaCtrl" class="panel panel-default">
    <div class="panel-heading">
        <nav class="navbar navbar-default navbar-inverse" role="navigation">
            <div class="container-fluid">
                <div class="col-md-1"><h3>Loja</h3></div>
                <div class="col-md-8" >                    
                    <form class="navbar-form navbar-left" role="search">
                            <div id="custom-search-input">
                                <div class="input-group col-md-12">
                                    <input type="text" class="form-control input-lg" placeholder="Pesquisar" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-info btn-lg" type="button">
                                            <i class="glyphicon glyphicon-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                    </form>
                </div>
                <ul class="nav navbar-nav navbar-left">
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-include="'/FrontEnd/Login'">
                </ul>
            </div>
        </nav>


    </div>
    <div class="panel-body">
        {{controllerName}}
        Panel Content
        <span ng-include="'/FrontEnd/CadastroUsuario'"></span>
    </div>
</div>