<div class="jumbotron">
    <h1>Prova de conceito</h1>
    <p class="lead">Esta é uma prova de conceito desenvolvida por Alberto Silva Souza.</p>
    <a href="https://www.linkedin.com/in/albertosouza/"><img src="https://content.linkedin.com/content/dam/brand/site/img/logo/logo-r.png" /></a>
</div>

<div class="row">
    <div class="col-md-6">
        <h3>Ferramentas utilizadas:</h3>
        <ul>
            <li>Microsoft SQL Server Management Studio </li>
            <li>SQL Power Architect 1.0.8</li>
            <li>Microsoft Visual Studio Enterprise 2015</li>
            <li>Postman.</li>
            <li>Google Chrome 59.0.3071.115.</li>
            <li>GitHub.</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h3>Tecnologias / Framewors:</h3>
        <ul>
            <li>ASP.Net MVC 4</li>
            <li>.NET Framework 4.5.2</li>
            <li>ASP.Net Web API 2</li>
            <li>Angular 1.*</li>
            <li>Google Cloud Platform </li>
            <li>Trirand jqGrid 4.0</li>
            <li>Bootstrap v3.3.4</li>
            <li>jQuery</li>
        </ul>
    </div>
</div>