
/****** Object:  Table [dbo].[TB_PRODUTO]    Script Date: 06/08/2017 22:03:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_PRODUTO](
	[ID_PRODUTO] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](50) NOT NULL,
	[ESTOQUE] [int] NOT NULL,
	[URL] [varchar](200) NOT NULL,
	[VALOR] [decimal](10, 2) NOT NULL,
	[ATIVO] [bit] NOT NULL,
	[DESCRICAO] [varchar](3000) NULL,
 CONSTRAINT [TB_PRODUTO_PK] PRIMARY KEY CLUSTERED 
(
	[ID_PRODUTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_CARRINHO]    Script Date: 06/08/2017 22:04:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_CARRINHO](
	[ID_CARRINHO] [int] IDENTITY(1,1) NOT NULL,
	[ID_USUARIO] [int] NULL,
	[IDENTIFICADOR] [varchar](50) NOT NULL,
 CONSTRAINT [TB_CARRINHO_PK] PRIMARY KEY CLUSTERED 
(
	[ID_CARRINHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_CARRINHO_PRODUTO]    Script Date: 06/08/2017 22:04:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_CARRINHO_PRODUTO](
	[ID_CARRINHO_PRODUTO] [int] IDENTITY(1,1) NOT NULL,
	[ID_CARRINHO] [int] NOT NULL,
	[ID_PRODUTO] [int] NOT NULL,
	[DATA_CADASTRO] [datetime] NOT NULL,
	[QUANTIDADE] [int] NOT NULL,
 CONSTRAINT [TB_CARRINHO_PRODUTO_PK] PRIMARY KEY CLUSTERED 
(
	[ID_CARRINHO_PRODUTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VW_PRODUTOS_DISPONIVEIS]    Script Date: 06/08/2017 22:04:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[VW_PRODUTOS_DISPONIVEIS]
AS 
	SELECT 
		A.ID_PRODUTO,
		(A.ESTOQUE - ISNULL(B.RESERVADOS,0)) AS DISPONIVEIS,
		A.ESTOQUE,
		A.NOME,
		ISNULL(A.DESCRICAO, '') AS DESCRICAO,
		A.[URL],
		A.VALOR
	FROM 
		TB_PRODUTO A 
		LEFT JOIN ( 
			SELECT B_.ID_PRODUTO, SUM(B_.QUANTIDADE) RESERVADOS 
			FROM TB_CARRINHO A_
			INNER JOIN TB_CARRINHO_PRODUTO B_ ON A_.ID_CARRINHO = B_.ID_CARRINHO
			GROUP BY B_.ID_PRODUTO) B ON A.ID_PRODUTO = B.ID_PRODUTO
	WHERE A.ATIVO = 1;

GO
/****** Object:  Table [dbo].[TB_PEDIDO]    Script Date: 06/08/2017 22:04:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_PEDIDO](
	[ID_PEDIDO] [int] IDENTITY(1,1) NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[STATUS] [varchar](20) NOT NULL,
	[DATA_CADASTRO] [datetime] NOT NULL,
	[VALOR] [decimal](10, 2) NULL,
 CONSTRAINT [TB_PEDIDO_PK] PRIMARY KEY CLUSTERED 
(
	[ID_PEDIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_PEDIDO_PRODUTO]    Script Date: 06/08/2017 22:04:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_PEDIDO_PRODUTO](
	[ID_PEDIDO_PRODUTO] [int] IDENTITY(1,1) NOT NULL,
	[ID_PEDIDO] [int] NOT NULL,
	[QUANTIDADE] [varchar](1) NOT NULL,
	[ID_PRODUTO] [int] NOT NULL,
	[VALOR] [decimal](10, 2) NULL,
 CONSTRAINT [TB_PEDIDO_PRODUTO_PK] PRIMARY KEY CLUSTERED 
(
	[ID_PEDIDO_PRODUTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_USUARIO]    Script Date: 06/08/2017 22:04:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_USUARIO](
	[ID_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](50) NOT NULL,
	[SENHA] [varchar](50) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[DATA_CADASTRO] [datetime] NOT NULL,
	[ADMINISTRA] [bit] NOT NULL,
	[ATIVO] [bit] NOT NULL,
 CONSTRAINT [TB_USUARIO_PK] PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_CARRINHO_PRODUTO] ADD  DEFAULT (getdate()) FOR [DATA_CADASTRO]
GO
ALTER TABLE [dbo].[TB_CARRINHO_PRODUTO] ADD  DEFAULT ((0)) FOR [QUANTIDADE]
GO
ALTER TABLE [dbo].[TB_PEDIDO] ADD  DEFAULT (getdate()) FOR [DATA_CADASTRO]
GO
ALTER TABLE [dbo].[TB_PRODUTO] ADD  DEFAULT ((0)) FOR [ESTOQUE]
GO
ALTER TABLE [dbo].[TB_PRODUTO] ADD  DEFAULT ('/Content/Images/default_product.png') FOR [URL]
GO
ALTER TABLE [dbo].[TB_PRODUTO] ADD  DEFAULT ((0)) FOR [VALOR]
GO
ALTER TABLE [dbo].[TB_PRODUTO] ADD  DEFAULT ((1)) FOR [ATIVO]
GO
ALTER TABLE [dbo].[TB_USUARIO] ADD  DEFAULT (getdate()) FOR [DATA_CADASTRO]
GO
ALTER TABLE [dbo].[TB_USUARIO] ADD  DEFAULT ((0)) FOR [ADMINISTRA]
GO
ALTER TABLE [dbo].[TB_USUARIO] ADD  DEFAULT ((1)) FOR [ATIVO]
GO
ALTER TABLE [dbo].[TB_CARRINHO]  WITH CHECK ADD  CONSTRAINT [TB_USUARIO_TB_CARRINHO_fk] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[TB_USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[TB_CARRINHO] CHECK CONSTRAINT [TB_USUARIO_TB_CARRINHO_fk]
GO
ALTER TABLE [dbo].[TB_CARRINHO_PRODUTO]  WITH CHECK ADD  CONSTRAINT [TB_CARRINHO_TB_CARRINHO_PRODUTO_fk] FOREIGN KEY([ID_CARRINHO])
REFERENCES [dbo].[TB_CARRINHO] ([ID_CARRINHO])
GO
ALTER TABLE [dbo].[TB_CARRINHO_PRODUTO] CHECK CONSTRAINT [TB_CARRINHO_TB_CARRINHO_PRODUTO_fk]
GO
ALTER TABLE [dbo].[TB_CARRINHO_PRODUTO]  WITH CHECK ADD  CONSTRAINT [TB_PRODUTO_TB_CARRINHO_PRODUTO_fk] FOREIGN KEY([ID_PRODUTO])
REFERENCES [dbo].[TB_PRODUTO] ([ID_PRODUTO])
GO
ALTER TABLE [dbo].[TB_CARRINHO_PRODUTO] CHECK CONSTRAINT [TB_PRODUTO_TB_CARRINHO_PRODUTO_fk]
GO
ALTER TABLE [dbo].[TB_PEDIDO]  WITH CHECK ADD  CONSTRAINT [TB_USUARIO_TB_PEDIDO_fk] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[TB_USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[TB_PEDIDO] CHECK CONSTRAINT [TB_USUARIO_TB_PEDIDO_fk]
GO
ALTER TABLE [dbo].[TB_PEDIDO_PRODUTO]  WITH CHECK ADD  CONSTRAINT [TB_PEDIDO_TB_PEDIDO_PRODUTO_fk] FOREIGN KEY([ID_PEDIDO])
REFERENCES [dbo].[TB_PEDIDO] ([ID_PEDIDO])
GO
ALTER TABLE [dbo].[TB_PEDIDO_PRODUTO] CHECK CONSTRAINT [TB_PEDIDO_TB_PEDIDO_PRODUTO_fk]
GO
ALTER TABLE [dbo].[TB_PEDIDO_PRODUTO]  WITH CHECK ADD  CONSTRAINT [TB_PRODUTO_TB_PEDIDO_PRODUTO_fk] FOREIGN KEY([ID_PRODUTO])
REFERENCES [dbo].[TB_PRODUTO] ([ID_PRODUTO])
GO
ALTER TABLE [dbo].[TB_PEDIDO_PRODUTO] CHECK CONSTRAINT [TB_PRODUTO_TB_PEDIDO_PRODUTO_fk]
GO
/****** Object:  StoredProcedure [dbo].[PRC_CARRINHO_CARREGAR]    Script Date: 06/08/2017 22:04:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PRC_CARRINHO_CARREGAR] 
(
	@ID_USUARIO INT = NULL,
	@IDENTIFICADOR VARCHAR(50) = NULL,
	@ID_CARRINHO INT = NULL
)
AS
BEGIN

	SELECT A.IDENTIFICADOR, A.ID_CARRINHO, A.ID_USUARIO, B.ID_PRODUTO, B.QUANTIDADE, C.[URL], C.NOME, C.VALOR, C.DESCRICAO, C.ESTOQUE, C.DISPONIVEIS FROM TB_CARRINHO A
	INNER JOIN TB_CARRINHO_PRODUTO B ON A.ID_CARRINHO = B.ID_CARRINHO
	LEFT JOIN VW_PRODUTOS_DISPONIVEIS C ON C.ID_PRODUTO = B.ID_PRODUTO
	WHERE 
	A.ID_CARRINHO = ISNULL(@ID_CARRINHO, 0) OR A.ID_USUARIO = ISNULL(@ID_USUARIO, 0) OR A.IDENTIFICADOR = ISNULL(@IDENTIFICADOR, '.');

END
GO
/****** Object:  StoredProcedure [dbo].[PRC_CARRINHO_EXCLUIR]    Script Date: 06/08/2017 22:04:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PRC_CARRINHO_EXCLUIR]
(
	@ID_USUARIO INT = NULL,
	@IDENTIFICADOR VARCHAR(50) = NULL,
	@ID_CARRINHO INT = NULL,
	@ID_PRODUTO INT = NULL
)
AS 
BEGIN 

	DECLARE @ID_USUARIO_ATUAL    INT;
	DECLARE @ID_CARRINHO_ATUAL   INT;
	DECLARE @IDENTIFICADOR_ATUAL VARCHAR(50);

	SELECT 
		@ID_USUARIO_ATUAL    = A.ID_USUARIO, 
		@ID_CARRINHO_ATUAL   = A.ID_CARRINHO,
		@IDENTIFICADOR_ATUAL = A.IDENTIFICADOR
	FROM [dbo].[TB_CARRINHO] A WHERE 
		A.ID_CARRINHO = ISNULL(@ID_CARRINHO, A.ID_CARRINHO) 
		AND A.IDENTIFICADOR = ISNULL(@IDENTIFICADOR, A.IDENTIFICADOR) 
		AND ISNULL(A.ID_USUARIO,0) = ISNULL(@ID_USUARIO,ISNULL(A.ID_USUARIO,0));

	IF (@ID_USUARIO IS NOT NULL OR @IDENTIFICADOR IS NOT NULL OR @ID_CARRINHO IS NOT NULL) 
				AND EXISTS(SELECT 1 FROM [dbo].[TB_CARRINHO] A WHERE A.ID_CARRINHO = ISNULL(@ID_CARRINHO, A.ID_CARRINHO) AND A.IDENTIFICADOR = ISNULL(@IDENTIFICADOR, A.IDENTIFICADOR) AND ISNULL(A.ID_USUARIO,0) = ISNULL(@ID_USUARIO, ISNULL(A.ID_USUARIO,0)))
	BEGIN

		IF EXISTS(SELECT 1 FROM [dbo].[TB_CARRINHO_PRODUTO] A WHERE A.ID_PRODUTO = @ID_PRODUTO) AND @ID_PRODUTO IS NOT NULL
		BEGIN
			DELETE FROM TB_CARRINHO_PRODUTO WHERE ID_CARRINHO = @ID_CARRINHO AND ID_PRODUTO = @ID_PRODUTO; 
		END
		ELSE
		BEGIN
			DELETE FROM TB_CARRINHO_PRODUTO WHERE ID_CARRINHO = @ID_CARRINHO; 
			DELETE FROM TB_CARRINHO WHERE ID_CARRINHO = @ID_CARRINHO; 
		END
	END

	EXECUTE PRC_CARRINHO_CARREGAR @ID_USUARIO, @IDENTIFICADOR_ATUAL, @ID_CARRINHO_ATUAL;

END
GO
/****** Object:  StoredProcedure [dbo].[PRC_CARRINHO_INCLUIR]    Script Date: 06/08/2017 22:04:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PRC_CARRINHO_INCLUIR]
(
	@ID_USUARIO INT = NULL,
	@IDENTIFICADOR VARCHAR(50) = NULL,
	@QUANTIDADE INT = NULL,
	@ID_PRODUTO INT = NULL,
    @ID_CARRINHO INT = NULL

)
AS 
BEGIN 

	DECLARE @ID_USUARIO_ATUAL INT = @ID_USUARIO;
	DECLARE @ID_CARRINHO_ATUAL INT = @ID_CARRINHO;
	DECLARE @IDENTIFICADOR_ATUAL VARCHAR(50) = @IDENTIFICADOR;

	IF EXISTS(SELECT 1 FROM [dbo].[VW_PRODUTOS_DISPONIVEIS] A WHERE A.ID_PRODUTO = @ID_PRODUTO AND (A.DISPONIVEIS-@QUANTIDADE) >= 0 AND @QUANTIDADE > 0 AND @ID_PRODUTO > 0) 
	BEGIN
		IF EXISTS(SELECT 1 FROM [dbo].[TB_CARRINHO] A WHERE A.ID_USUARIO = @ID_USUARIO)
		BEGIN
			SELECT 
				@ID_CARRINHO_ATUAL = ID_CARRINHO,
				@IDENTIFICADOR_ATUAL = IDENTIFICADOR 
			FROM [dbo].[TB_CARRINHO] WHERE ID_USUARIO = @ID_USUARIO;

			IF EXISTS(SELECT 1 FROM [dbo].[TB_CARRINHO_PRODUTO] B WHERE B.ID_PRODUTO = @ID_PRODUTO AND B.ID_CARRINHO = @ID_CARRINHO_ATUAL)
				UPDATE [TB_CARRINHO_PRODUTO] SET
				QUANTIDADE = QUANTIDADE + @QUANTIDADE,
				DATA_CADASTRO = GETDATE()
				WHERE ID_PRODUTO = @ID_PRODUTO AND ID_CARRINHO = @ID_CARRINHO_ATUAL;
			ELSE
				INSERT INTO [TB_CARRINHO_PRODUTO] (ID_CARRINHO, ID_PRODUTO, QUANTIDADE) VALUES (@ID_CARRINHO_ATUAL, @ID_PRODUTO, @QUANTIDADE);
		END
		ELSE IF EXISTS(SELECT 1 FROM [dbo].[TB_CARRINHO] A WHERE A.IDENTIFICADOR = @IDENTIFICADOR OR A.ID_CARRINHO = @ID_CARRINHO)
		BEGIN
			SELECT
				@ID_CARRINHO_ATUAL = ID_CARRINHO,
				@IDENTIFICADOR_ATUAL = IDENTIFICADOR
			FROM [dbo].[TB_CARRINHO] WHERE IDENTIFICADOR = @IDENTIFICADOR OR ID_CARRINHO = @ID_CARRINHO;

			IF EXISTS(SELECT 1 FROM [dbo].[TB_CARRINHO_PRODUTO] B WHERE B.ID_PRODUTO = @ID_PRODUTO AND B.ID_CARRINHO = @ID_CARRINHO_ATUAL)
				UPDATE [TB_CARRINHO_PRODUTO] SET
				QUANTIDADE = QUANTIDADE + @QUANTIDADE,
				DATA_CADASTRO = GETDATE()
				WHERE ID_PRODUTO = @ID_PRODUTO AND ID_CARRINHO = @ID_CARRINHO_ATUAL;
			ELSE
				INSERT INTO [TB_CARRINHO_PRODUTO] (ID_CARRINHO, ID_PRODUTO, QUANTIDADE) VALUES (@ID_CARRINHO_ATUAL, @ID_PRODUTO, @QUANTIDADE);
		END
		ELSE
		BEGIN
			SET @IDENTIFICADOR_ATUAL = ISNULL(@IDENTIFICADOR, CONVERT(VARCHAR(50), NEWID()));
			INSERT INTO [dbo].[TB_CARRINHO] ([ID_USUARIO] ,[IDENTIFICADOR]) VALUES (@ID_USUARIO, @IDENTIFICADOR_ATUAL);
			SET @ID_CARRINHO_ATUAL = @@IDENTITY;

			INSERT INTO TB_CARRINHO_PRODUTO (ID_CARRINHO, ID_PRODUTO, QUANTIDADE) VALUES (@ID_CARRINHO_ATUAL, @ID_PRODUTO, @QUANTIDADE); 
		END
	END

	EXECUTE PRC_CARRINHO_CARREGAR @ID_USUARIO, @IDENTIFICADOR_ATUAL, @ID_CARRINHO_ATUAL;

END
GO
/****** Object:  StoredProcedure [dbo].[PRC_PEDIDO_ATUALIZAR]    Script Date: 06/08/2017 22:04:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PRC_PEDIDO_ATUALIZAR]
(
	@ID_PEDIDO INT,
	@STATUS VARCHAR(20)
)
AS
BEGIN

	UPDATE TB_PEDIDO SET [STATUS] = @STATUS WHERE ID_PEDIDO = @ID_PEDIDO

END

GO
/****** Object:  StoredProcedure [dbo].[PRC_PEDIDO_CONSULTAR]    Script Date: 06/08/2017 22:04:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PRC_PEDIDO_CONSULTAR]
(
	@ID_USUARIO INT
)
AS
BEGIN

	SELECT
		/* DADOS PEDIDO */ 
		A.ID_PEDIDO, A.ID_USUARIO, A.STATUS, A.VALOR AS VALOR_TRANSACAO, A.DATA_CADASTRO, 
		/* DETALHES TRANSACAO */
		B.ID_PRODUTO, B.QUANTIDADE, B.VALOR,
		/* DETALHES PRODUTO */
		C.NOME, C.DESCRICAO, C.URL
	FROM TB_PEDIDO A 
		INNER JOIN TB_PEDIDO_PRODUTO B ON A.ID_PEDIDO = B.ID_PEDIDO
		INNER JOIN TB_PRODUTO C ON B.ID_PRODUTO = C.ID_PRODUTO
END

GO
/****** Object:  StoredProcedure [dbo].[PRC_PEDIDO_FINALIZAR]    Script Date: 06/08/2017 22:04:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PRC_PEDIDO_FINALIZAR]
(
	@ID_CARRINHO INT,
	@ID_USUARIO INT
)
AS
BEGIN

	DECLARE @ID_USUARIO_ATUAL INT
	DECLARE @ID_PEDIDO INT
	DECLARE @VALOR_TOTAL DECIMAL (10,2)

	SELECT @ID_USUARIO_ATUAL = ID_USUARIO ,
	@VALOR_TOTAL = (A.QUANTIDADE * B.VALOR) FROM TB_CARRINHO_PRODUTO A
	INNER JOIN VW_PRODUTOS_DISPONIVEIS B ON B.ID_PRODUTO = A.ID_PRODUTO 
	INNER JOIN TB_CARRINHO C ON C.ID_CARRINHO = A.ID_CARRINHO
    WHERE A.ID_CARRINHO = @ID_CARRINHO;
	

	IF ISNULL(@ID_USUARIO_ATUAL, 0) = ISNULL(@ID_USUARIO, -1)
	BEGIN 

		INSERT INTO TB_PEDIDO ([ID_USUARIO], [STATUS], [VALOR]) VALUES (@ID_USUARIO, 'EM_PROCESSAMENTO', @VALOR_TOTAL);

		SET @ID_PEDIDO = @@IDENTITY;

		PRINT @ID_PEDIDO

		INSERT INTO [dbo].[TB_PEDIDO_PRODUTO] (ID_PEDIDO, QUANTIDADE, ID_PRODUTO, VALOR)
		SELECT  @ID_PEDIDO ID_PEDIDO, A.QUANTIDADE, A.ID_PRODUTO, B.VALOR  
		FROM TB_CARRINHO_PRODUTO A 
		LEFT JOIN VW_PRODUTOS_DISPONIVEIS B ON B.ID_PRODUTO = A.ID_PRODUTO 
		WHERE ID_CARRINHO = @ID_CARRINHO;

		UPDATE TB_PRODUTO  SET  
		ESTOQUE = TB_PRODUTO.ESTOQUE - B.QUANTIDADE 
		FROM TB_CARRINHO_PRODUTO B
		WHERE TB_PRODUTO.ID_PRODUTO = B.ID_PRODUTO AND B.ID_CARRINHO = @ID_CARRINHO;

		DELETE FROM TB_CARRINHO_PRODUTO WHERE ID_CARRINHO = @ID_CARRINHO;
		DELETE FROM TB_CARRINHO WHERE ID_CARRINHO = @ID_CARRINHO;
	END
	ELSE
		RAISERROR (15600,-1,-1, '@ID_USUARIO NAO ENCONTRADO PARA OPERACAO');  

END

GO
/****** Object:  StoredProcedure [dbo].[PRC_PRODUTO_ALTERAR]    Script Date: 06/08/2017 22:04:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PRC_PRODUTO_ALTERAR]
(
	@ID_PRODUTO INT,
	@NOME VARCHAR(50), 
	@ESTOQUE INTEGER, 
	@URL VARCHAR(200), 
	@VALOR DECIMAL(10,2), 
	@DESCRICAO VARCHAR(3000) = NULL
)
AS
BEGIN
	UPDATE [dbo].[TB_PRODUTO] SET 
		NOME = @NOME,
		ESTOQUE = ESTOQUE,
		[URL] = @URL,
		VALOR = @VALOR,
		DESCRICAO = @DESCRICAO
	WHERE
		ID_PRODUTO = @ID_PRODUTO
END

GO
/****** Object:  StoredProcedure [dbo].[PRC_PRODUTO_CONSULTAR]    Script Date: 06/08/2017 22:04:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PRC_PRODUTO_CONSULTAR]
(
	@ID_PRODUTO INT = NULL,
	@NOME VARCHAR(50) = NULL
)
AS
BEGIN

	SELECT ID_PRODUTO, DISPONIVEIS, ESTOQUE, NOME, DESCRICAO, [URL], VALOR  FROM VW_PRODUTOS_DISPONIVEIS
	WHERE (NOME LIKE '%' + ISNULL(@NOME, NOME) + '%' OR DESCRICAO LIKE '%' + ISNULL(@NOME, DESCRICAO) + '%') 
	AND ID_PRODUTO = ISNULL(@ID_PRODUTO, ID_PRODUTO);

END

GO
/****** Object:  StoredProcedure [dbo].[PRC_PRODUTO_EXCLUIR]    Script Date: 06/08/2017 22:04:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PRC_PRODUTO_EXCLUIR]
(
	@ID_PRODUTO INT
)
AS
BEGIN
	UPDATE [dbo].[TB_PRODUTO] SET 
		ATIVO = 0
	WHERE
		ID_PRODUTO = @ID_PRODUTO
END

GO
/****** Object:  StoredProcedure [dbo].[PRC_PRODUTO_INSERIR]    Script Date: 06/08/2017 22:04:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PRC_PRODUTO_INSERIR]
(
	@NOME VARCHAR(50), 
	@ESTOQUE INTEGER, 
	@URL VARCHAR(200), 
	@VALOR DECIMAL(10,2), 
	@DESCRICAO VARCHAR(3000) = NULL
)
AS
BEGIN
	INSERT INTO  [dbo].[TB_PRODUTO] (NOME, ESTOQUE, [URL], VALOR, DESCRICAO) VALUES (@NOME, @ESTOQUE, @URL, @VALOR, @DESCRICAO);
	SELECT @@IDENTITY;
END

GO
/****** Object:  StoredProcedure [dbo].[PRC_USUARIO_CONSULTAR]    Script Date: 06/08/2017 22:04:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PRC_USUARIO_CONSULTAR]
(
    @ID_USUARIO INT = null,
	@NOME VARCHAR(50) = NULL,
	@EMAIL VARCHAR(50) = NULL
)
AS
BEGIN

	SELECT ID_USUARIO, NOME, SENHA, EMAIL, DATA_CADASTRO, ADMINISTRA FROM TB_USUARIO 
	WHERE ATIVO = 1 AND NOME = ISNULL(@NOME, NOME) AND EMAIL = ISNULL(@EMAIL, EMAIL) AND ID_USUARIO = ISNULL(@ID_USUARIO, ID_USUARIO)

END

GO
/****** Object:  StoredProcedure [dbo].[PRC_USUARIO_INSERIR]    Script Date: 06/08/2017 22:04:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PRC_USUARIO_INSERIR]
(
	@NOME VARCHAR(50),
	@SENHA VARCHAR(50),
	@EMAIL VARCHAR(50)
)
AS
BEGIN

	DECLARE @ADMINISTRA BIT = 0;
	
	IF (CHARINDEX('(ADM)',UPPER(@NOME)) > 0)
		SET @ADMINISTRA = 1;

	IF EXISTS (SELECT 1 FROM TB_USUARIO WHERE EMAIL =  @EMAIL AND ATIVO = 1)
		SELECT -1;
	ELSE
	BEGIN
		INSERT INTO TB_USUARIO (NOME, SENHA, EMAIL, ADMINISTRA) VALUES (@NOME, @SENHA, @EMAIL, @ADMINISTRA);
		SELECT @@IDENTITY;
	END
END

GO
