<li class="dropdown bottom-right" ng-controller="loginLojaCtrl">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding-top:34px;" ng-show="usuarioLogado == true"><b>{{nomeUsuario}}</b> </a>
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding-top:34px;" ng-show="usuarioLogado == false"><b>Entrar</b> </a>
    <ul id="login-dp" class="dropdown-menu">
        <li>
            <div class="row">
                <div class="col-md-12">
                    <form class="form" role="form" accept-charset="UTF-8" id="login-nav" ng-show="usuarioLogado == false" ng-submit="Login()">
                        <!-- VISAO DESLOGADO -->
                        <div class="form-group">
                            <label class="sr-only" for="txtEmailLogin">Login</label>
                            <input type="email" class="form-control" id="txtEmailLogin" placeholder="Endereço de e-mail" required ng-model="email">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="txtSenhaLogin">Senha</label>
                            <input type="password" class="form-control" id="txtSenhaLogin" placeholder="Senha" required ng-model="senha">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block" data-dismiss="modal">Entrar</button>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-primary btn-block" data-dismiss="modal" ng-click="NovoCliente()">Cliente novo? Cadastrar</button>
                        </div>
                    </form>
                    <form class="form" role="form" accept-charset="UTF-8" id="login-nav" ng-show="usuarioLogado == true">
                        <!-- VISAO LOGADO -->
                        <div class="form-group">
                            <button type="button" class="btn btn-primary btn-block" ng-click="Logoff()">Sair</button>
                        </div>
                    </form>
                </div>
            </div>
        </li>
    </ul>
</li>
